@font-face {
    font-family: "Vazir-FD";
    src: local("Vazir-FD"),
    url('./statics/font/vazir/Farsi-Digits/Vazir-FD.woff') format("woff");
    font-weight: normal;
}


body {
    margin: 0;
    font-family: Vazir-FD, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: Vazir-FD, serif;
}

code {
    font-family: IranianSans, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
